@import url('https://fonts.googleapis.com/css?family=Roboto:500');
@import url('https://fonts.googleapis.com/css?family=Amatica+SC');

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: #FF974F;
  color: #332532;
  font-family: 'Roboto', sans-serif;
  font-size: 15vh;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  user-select: none;
}

div {
  text-align: center;
  line-height: 15vh;
}

article {
  margin-top: 15px;
  font-family: 'Amatica SC', cursive;
}

.ears {
  transform: scale(0.8);
}